:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --main-color: #ffffff;
  --logo-first-color: #4d5ae5;
  --team-color: #F4F4FD;
  --border-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  background-color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 56px;
}

.address-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

/* Nav */

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--logo-first-color);
}

.logo>.half {
  color: var(--title-text-color);
}

.site-nav a {
  font-weight: 500;
  color: var(--title-text-color);
}

.link {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
}

.tel {
  padding-right: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address-list a {
  font-style: normal;
  color: var(--primery-text-color);
  text-decoration: none;
}

.address-list .address-link:hover,
.address-list .address-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--title-text-color);
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin-bottom: 48px;
  max-width: 526px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  background: var(--logo-first-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
}

.btn:active {
  background: var(--accent-color);
  ;
}

.section-title {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

/* Sections */

.section {
  padding: 120px 0;
}

/* Featur */

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Case */

.section-case {
  padding-top: 0;
}

.case {
  display: flex;
  gap: 24px;
}

/* Team */

.section-team {
  background: var(--team-color);
}

.team {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}



.team-item {
  flex-basis: calc((100% - 48) / 4);
}

.master {
  text-align: center;
}

.master-img {
  display: flex;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
}

.team .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Footer */

.foot {
  background-color: var(--title-text-color);
}

.foot .half {
  color: var(--team-color);
}

.foot-text {
  color: var(--border-color);
  margin: 0;
}

.footer {
  display: flex;
  width: 264px;
  gap: 16px;
  flex-direction: column;
  padding: 100px 0;
}

/* Portfolio */

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter button {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--logo-first-color);
  background-color: var(--team-color);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.filter button:hover,
.filter:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

/* Examples */

.works-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.work-img {
  display: block;
}

.work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
}

.work-item {
  flex-basis: calc((100% - 48px) / 3);
}

.works-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 0;
}